html {
  box-sizing: border-box;
  background: rgb(29, 28, 28);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;

  width: 100%;
  background: #141414;
  // Убрать полосы прокрутки
  overflow-x: hidden;
}

.wrapper__full {
  width: 100%;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.header-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  padding: 0;
  margin: 0;

  font-style: italic;
}

.title-block {
  margin: 0;
  padding: 0;
}
