html {
  box-sizing: border-box;
  background: rgb(29, 28, 28);
  scroll-behavior: smooth;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  width: 100%;
  // background: $bg-color;
  // Убрать полосы прокрутки
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #3d3b3b;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(102, 102, 102);
    border-radius: 3px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(167, 166, 166);
  }
}

.wrapper__full {
  width: 100%;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
}

// Кастомный скролл

/* width */
