.header {
  height: 100vh;
  @media screen and (max-width: $xs-width-max) and (orientation: portrait) {
    height: 70vh;
  }

  &__wrapper {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    & span {
      position: absolute;
      bottom: 15px;
    }
  }
  &__title {
    padding: 0;
    margin: 0;
    font-size: 2em;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    color: rgb(255, 255, 255);
    @media (max-width: $lg-width-max) {
      /* CSS для ширины от 992px до 1199px */
      font-size: 1.5em;
    }
    @media (max-width: $md-width-max) {
      /* CSS для ширины от 768px до 991px */
      font-size: 1.3em;
    }
    @media (max-width: $sm-width-max) {
      /* CSS для ширины от 576px до 767px */
      font-size: 1em;
    }
    @media (max-width: $xs-width-max) {
      /* CSS для ширины до 575px (включительно) */
      font-size: 0.8em;
      display: none;
    }
    &::after {
      background-color: rgb(255, 255, 255);
      transform: scale(1.2, 1);
      @media (max-width: $md-width-max) {
        /* CSS для ширины от 768px до 991px */
        transform: scale(1.11, 1);
      }
      @media (max-width: $sm-width-max) {
        /* CSS для ширины от 576px до 767px */
        font-size: 1em;
      }
      @media (max-width: $xs-width-max) {
        /* CSS для ширины до 575px (включительно) */
        transform: scale(1.05, 1);
      }
    }
  }
  &__text {
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    font-style: italic;

    @media (max-width: $md-width-max) {
      /* CSS для ширины от 768px до 991px */
      font-size: 1em;
    }
    @media (max-width: $sm-width-max) {
      /* CSS для ширины от 576px до 767px */
      font-size: 0.8em;
    }
    @media (max-width: $xs-width-max) {
      /* CSS для ширины до 575px (включительно) */
      font-size: 0.7em;
    }
  }
}

.header__title--mobile {
  display: none;
  @media (max-width: $xs-width-max) {
    /* CSS для ширины до 575px (включительно) */
    font-size: 1em;
    display: block;
  }
}
