.button {
  width: 195px;
  // height: 45px;
  padding: 0.8em;
  outline: none;
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 17px;
  letter-spacing: 0.05rem;
  box-sizing: border-box;
  background: #3c3f42;
  border: 1px solid #48494b;
  color: #eee;

  &:hover,
  :focus {
    cursor: pointer;
  }
}

.btn-admin {
  &:hover,
  :focus {
    cursor: pointer;
    background: rgb(54, 131, 247);
  }

  &:active {
    background: rgb(32, 79, 148);
  }
}
