.button {
  width: 195px;
  // height: 45px;
  padding: 0.8em;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 17px;
  letter-spacing: 0.05rem;
  box-sizing: border-box;
  background: #3c3f42;
  border: 1px solid #48494b;
  color: #a1a1a1;

  &:hover,
  :focus {
    cursor: pointer;
  }
}
