$green: rgb(54, 247, 128);
$orange: rgb(247, 141, 54);
$blue: rgb(54, 131, 247);
$red: rgb(247, 54, 96);
$color-text: #fff;
// $bg-color: #6387c0;
// $bg-color: #363e4b;
$bg-color: #3c3f42;
// $bg-color: #3b3d40;
$bg-img-default: url('~assets/img/bg_1.jpg');
$bg-button: #0176fc;
// $bg-button: linear-gradient(90deg, #f27a54 -21.05%, #a154f2 121.05%);
$color-button: #fff;
