//adaptiv width
$xs-width-min: 320px;
$xs-width-max: 575px;

$sm-width-min: 768px;
$sm-width-max: 768px;

$md-width-min: 768px;
$md-width-max: 991px;

$lg-width-min: 768px;
$lg-width-max: 1199px;

$xl-width-min: 1200px;
$xl-width-max: 1279px;

$desktop-width: 1280px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//Color

$bg-widget: #393c3f;
$shadow-out: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow-block: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow-into: inset 2px 2px 5px rgba(0, 0, 0, 0.25),
  1px 1px 3px rgb(105, 105, 105);

//Неоморфизм (NB-темная, NW-светлая)
$shadowNB-into: inset 4px 4px 10px black,
  inset 4px 4px 15px 3px rgba(0, 0, 0, 0.678),
  inset -1px -1px 2px rgba(255, 255, 255, 0.5), inset -1px -1px 5px white,
  inset -1px -1px 1px rgba(0, 0, 0, 0.274);
$shadowNB-out: -8px -8px 20px #494c52, 1px 8px 30px #101316,
  -1px -1px 60px rgba(33, 39, 44, 0.01);
$shadowNW-out: inset 4px 4px 10px rgba(0, 0, 0, 0.5),
  inset -1px -1px 2px rgba(255, 255, 255, 0.5), inset -6px -6px 10px 0 white,
  inset -1px -1px 1px rgba(0, 0, 0, 0.274);
$shadowNW-into: -12px -12px 20px white, 1px 5px 30px rgba(0, 0, 0, 0.274);

/// // Неоморфизм
$color1: #21272c;
$shadow-drop1: -8px -8px 30px #393e44, 8px 8px 30px #101316,
  -1px -1px 60px rgba(33, 39, 44, 0.01);
//#//
$color1: #24292d;
$shadow-inner1: -6px -6px rgba(22, 22, 22, 0.5), 6px 6px 12px #24292d,
  -1px -1px 60px rgba(36, 41, 45, 0.01);
//###############///
// bg #3c3f42
$bg-lin1: linear-gradient(145deg, #36393b, #404347);
$shadow-nm1: 5px 5px 20px 0 #1e1e1f, -5px -5px 20px 0 #565758fb;
$shadow-nm2: 5px 5px 20px 0 #1e1e1f, -5px -5px 20px 0 #565758fb;
// Retina
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';
