//adaptiv width
$mobile-width: 660px;
$tablet-mobile-width: 1000px;
$desktop-width: 1280px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//Color
$color-text: #fff;
$bg-color: #30363d;
$bg-img-default: url('~assets/img/bg_1.jpg');
$bg-button: linear-gradient(90deg, #f27a54 -21.05%, #a154f2 121.05%);
$color-button: #fff;
$bg-widget: #393c3f;
$shadow: 0 0 8px #0e0d0d;
$grey: rgb(53, 53, 53);
