//adaptiv width
$mobile-width: 660px;
$tablet-mobile-width: 1000px;
$desktop-width: 1280px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//Color

$bg-widget: #393c3f;
$shadow-out: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow-block: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow-into: inset 2px 2px 5px rgba(0, 0, 0, 0.25),
  1px 1px 3px rgb(105, 105, 105);
$grey: rgb(53, 53, 53);
$dark-grey: #050607;
$blue: #78e4db;

/// // Неоморфизм
$color1: #21272c;
$shadow-drop1: -8px -8px 30px #393e44, 8px 8px 30px #101316,
  -1px -1px 60px rgba(33, 39, 44, 0.01);
//#//
$color1: #24292d;
$shadow-inner1: -6px -6px rgba(22, 22, 22, 0.5), 6px 6px 12px #24292d,
  -1px -1px 60px rgba(36, 41, 45, 0.01);
//###############///
// bg #3c3f42
$bg-lin1: linear-gradient(145deg, #36393b, #404347);
$shadow-nm1: 5px 5px 20px 0 #1e1e1f, -5px -5px 20px 0 #565758fb;
$shadow-nm2: 5px 5px 20px 0 #1e1e1f, -5px -5px 20px 0 #565758fb;
