@import './decorations.scss';
@import './block-header.scss';
@import './form';
@import './button';
@import './blocks-title';

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/RobotoCondensed-Regular.woff2') format('woff2'),
    url('../fonts/Roboto/RobotoCondensed-Regular.woff') format('woff');
  font-display: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/RobotoCondensed-Bold.woff2') format('woff2'),
    url('../fonts/Roboto/RobotoCondensed-Bold.woff') format('woff');
  font-display: auto;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('../fonts/Roboto/RobotoCondensed-Italic.woff2') format('woff2'),
    url('../fonts/Roboto/RobotoCondensed-Italic.woff') format('woff');
  font-display: auto;
  // font-weight: 00;
  // font-style: italic;
}

@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('../fonts/Roboto/RobotoCondensed-LightItalic.woff2') format('woff2'),
    url('../fonts/Roboto/RobotoCondensed-LightItalic.woff') format('woff');
  font-weight: 300;
  font-display: auto;
  font-style: italic;
}

@font-face {
  font-family: 'Oswald-Regular';
  src: url('../fonts/Oswald/Oswald-Regular.woff2') format('woff2'),
    url('../fonts/Oswald/Oswald-Regular.woff') format('woff');
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald-Medium';
  src: url('../fonts/Oswald/Oswald-Medium.woff2') format('woff2'),
    url('../fonts/Oswald/Oswald-Medium.woff') format('woff');
  font-display: auto;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald-SemiBold';
  src: url('../fonts/Oswald/Oswald-SemiBold.woff2') format('woff2'),
    url('../fonts/Oswald/Oswald-SemiBold.woff') format('woff');
  font-display: auto;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald-Bold';
  src: url('../fonts/Oswald/Oswald-Bold.woff2') format('woff2'),
    url('../fonts/Oswald/Oswald-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: 'Oswald-Medium', Oswald, sans-serif;
}

h2,
h3 {
  font-weight: 500;
}

.wrapper {
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 0 10px;

  // height: 100vh;
}

html {
  box-sizing: border-box;
  background: rgb(29, 28, 28);
  scroll-behavior: smooth;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $color-text;
  font-family: 'Roboto-Regular', Roboto, sans-serif;
  font-size: 16px;
  width: 100%;
  background-color: $bg-color;
  // background: $bg-color;
  // Убрать полосы прокрутки
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #3d3b3b;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(102, 102, 102);
    border-radius: 3px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(167, 166, 166);
  }
}

.wrapper__full {
  width: 100%;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
}
