@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
// font-family: 'Rubik Mono One', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
// font-family: 'Russo One', sans-serif;
body {
  color: $color-text;
  // position: relative;
}

.wrapper {
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 0 10px;

  // height: 100vh;
}

.button {
  width: 250px;
  // height: 45px;
  padding: 0.8em;
  border: none;
  background: $bg-button;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 17px;
  letter-spacing: 0.05rem;
  color: $color-button;

  &:hover,
  :focus,
  :active {
    background: transparent;
    border: solid 1px;
  }
}
